#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.weather-app {
  display: flex;
  flex-direction: column;
  /* Stack elements vertically */
  align-items: center;
  /* Center horizontally */
  justify-content: center;
  /* Center vertically */
  height: 100vh;
  /* Full viewport height */
  text-align: center;
  /* Center align text inside divs */
  padding: 10px;
  box-sizing: border-box;
}

.weather-app div {
  margin: 5px 0;
  /* Add some space between elements */
}

.error-message {
  color: red;
  font-weight: bold;
}

.weather-icon {
  width: 100px;
  height: auto;
  /* Maintain aspect ratio */
}